<h1>List of all Cohorts available for <%=@course.name%></h1>
<ul>
  <% @course.cohorts.order('NAME ASC').each do |c|%>
    <li><%=link_to "#{c.name}", course_cohort_path(@course.id, c.id)%></li>
  <%end%>
</ul>

<%= link_to "Add a new Cohort", new_course_cohort_path%>
