<h1><%=@student.full_name%></h1>

<%=render 'forms'%>

<%=link_to 'Remove Student', course_cohort_student_path(@course.id, @cohort.id, @student.id), method: :delete, data: { confirm: "Are you sure you want to remove #{@student.full_name} ?" }%>
