<h1>List of all Students</h1>
<table class="index">
  <tr class ='list_header'>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Age</th>
  </tr>
  <% @students.each do |i|%>
  <tr>
    <td> <%=i.first_name%></td>
    <td><%=i.last_name%></td>
    <td><%=i.email%></td>
    <td><%=i.age%></td>
  </tr>
  <%end%>
</table>
