<h1><%=@instructor.full_name%></h1>

<%= render 'forms'%>

<br>
<%=link_to 'Terminate', course_cohort_path(@course.id, @cohort.id), method: :delete, data: { confirm: "Are you sure you want to terminate #{@instructor.full_name} ?"}%>
