<div class="forms">
  <h1><%=@instructor.full_name%></h1>

  <%= render 'forms'%>

  <div class="bottom_form">

    <%= link_to 'Back to Cohort', course_cohort_path(@course.id, @cohort.id), class:'submit-btns'%>
  </div>

</div>
