<% if current_user != nil%>
<h1>Welcome, <%=current_user.first_name%></h1>
<%else%>

<%end%>
<div class = 'start'>

<% if logged_in?%>
<button type="button" name="button"><%=link_to 'Enter Pamela Panel', courses_path%></button>
<%end%>
</div>
