<h1>This is Pamela Panel</h1>

<ul>
  <li><%= link_to 'Instructors', instructors_path%></li>
  <li><%=link_to 'Students', students_path%></li>
  <li><%=link_to 'Courses'%></li>
  <li><%=link_to 'Cohorts', cohorts_path%></li>
</ul>
