<% if current_user != nil%>
<h1>Welcome, <%=current_user.first_name%></h1>
<%else%>

<%end%>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class = 'start'>

<% if logged_in?%>
<button><%=link_to 'Enter Pamela Panel', courses_path, id:'enter_btn'%></button>
<%end%>
</div>
