<h1>All Courses</h1>

<ul>
  <% @courses.each do |c|%>
    <li><%=link_to c.name, c%></li>
  <%end%>
</ul>
<% if logged_in? && current_user.admin === true %>
<%= link_to 'Add Course', new_course_path%><br><br>
<%end%>
