<h1>All Courses</h1>

<div class = 'course_list'>
  <% @courses.each do |c|%>
    <div>
      <h3><%=link_to c.name, c %></h3>
      <p>Tuition: $ <%=c.tuition%></p>
      <p>Hours per week: <%=c.total_hours%></p>
    </div>
  <%end%>
</div>
<% if logged_in? && current_user.admin === true %>

<button class='add_course'type="button"><%= link_to 'Add Course', new_course_path%></button>
<br><br>
<%end%>
