/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *:
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  background:url('https://images.unsplash.com/photo-1519452575417-564c1401ecc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c13e16dc570c2c74875bf2303e779e14&auto=format&fit=crop&w=1500&q=80');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;

}

body{
  margin: 0;
  padding: 0;
}

button{
  background:linear-gradient(var(--dashboard), rgb(125, 178, 233));
  position: relative;
  border-radius: 10%;
  border: 1px solid var(--dashboard);
}

button:after{
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

button a{
  color: white;
  text-decoration: none;
  font-size: 2em;
}

button:hover{
  background: var(--second);
  color:var(--dashboard);
}

h1, h2, h3{
  color: white;
  text-align: center;
  text-shadow: 2px 2px var(--dark);
}

p ,i{
  color: white;
}

a{
  text-decoration: none;
}

.nav{
  grid-area: nav;
  display: grid;
  grid-template: repeat(8,1fr)/100%;
  background-color:var(--dashboard);
  margin:0;
  height: 100%;
  list-style: none;

}

.nav div:hover{
background-color: #becde5;
color: var(--dashboard);
}

.nav div{
  width:100%;
  height:100%;
  box-shadow: 0px 3px 1px;

}

.nav div a{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  margin: 60% 5%;
}

.logo{
  font-family: 'Fredoka One', cursive;
  margin: auto;
  background-image: url('/images/njcda_logo.png');
  background-size: 100% 100%;
  grid-row: 1/3;
}


.main-container{
  grid-area: main;
  background-color:rgba(98, 151, 231, 0.7);
  height:100%;

}

.index{
  width:80%;
  margin: 5% auto;
  border: 1px solid var(--dashboard);
  background-color:rgba(98, 151, 231, 0.8);
  color:white;
  text-align: center;
  border-radius: 5%;
  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 1px 1px #07477a;
}

.index  th, td{
  border: 1px solid #07477a;
}

.list_header{
  background-color: #1669ad;
}

.notice{
  background-color: red;
  color: white;
  width:50%;
  height:10%;
  margin:0 auto;
  border:1px solid white;
  font-family: sans-serif;
  opacity: .7;
}

.notice:hover{
  opacity: 1;
}

 :root{
   --dashboard:#1669ad;
   --dark: #07477a;
   --second: #9198e5;
   --nav: #5372a4;
 }

 .header{
   grid-area: header;
   background: linear-gradient(var(--dashboard), #9198e5);
   /* background-color: #1669ad; */
 }

 #dashboard{
   font-family: sans-serif;
   text-align: center;
 }

 .container{
   display: grid;
   height:100%;
   grid-template: repeat(7,1fr)/repeat(7, 1fr);
   grid-template-areas:
   "nav header header header header header header"
   "nav main main main main main main"
   "nav main main main main main main"
   "nav main main main main main main"
   "nav main main main main main main"
   "nav main main main main main main"
   "nav main main main main main main";
 }

 #dashboard a{
   text-decoration: none;
   color: white;
   font-size: 2em;
 }


.student_teacher{
  font-family: sans-serif;
  height:60vh;
  width:100%;
  margin:0 auto;
  display: grid;
  grid-template: 10% 70% 20%/ repeat(2, 1fr);
  grid-gap: 5%;
}

.student_teacher div li{
  padding: 2%;
  font-size: 1.5em;
  list-style: none;
}

.student_teacher .cohort_students{
  border: 2px solid var(--dashboard);
  overflow: auto;
}

.cohort_students{
  background: linear-gradient(to bottom right, rgba(23, 159, 235, 0.1),rgba(16, 97, 172, 0.6), var(--dashboard));
  border-radius: 10%;
}

.cohort_students a{
  color: white;
}

.icon_space li{
  display: grid;
  grid-template: 100%/60% 35%;
  grid-gap: 5%;
  margin-top: 1%;
}

.fa-user-times{
  font-size: 1em;
  color: var(--dark)
}

.nav_icon{
  font-size: 1em;

}

.nav_icon i{
  color:white;
  margin-top: 5%;
  font-size: 1.2em;
}

.cohort_instructor{
  display: grid;
  grid-template: 100%/40% 60%;
}

.cohort_instructor img{
  height: 70%;
  width: 100%;
  border-radius: 30%;
}

.login{
  margin: 5% auto;
  border: 1px solid var(--dashboard);
  height: 50%;
  width: 50%;
  padding-top: 5%;
  text-align: center;
  box-shadow: 5px 5px 5px var(--dark);
  background-color: rgba(98, 151, 231, .4);
}

.users-grid{
  width: 60%;
  margin: 0 auto;
}

.users-grid li{
  display: grid;
  grid-template: 100%/50% 50%;
  border:1px solid var(--dark);
}


.start{
  text-align: center;
  margin-top: 20%;
}

.course_list{
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template: auto/repeat(3,1fr);
  grid-gap: 5vh 5%;
}
.course_list div{
  border: 1px solid #1669ad;
  height:20vh;
  text-align: center;
  background: linear-gradient(#1669ad, #1c4fa0,rgb(5, 49, 78));
  box-shadow: 2px 2px 2px;
  font-size: 1em;
}

.add_course{
  margin: 10% 40%;
}

.course_list div a{
  text-decoration: none;
  color:white;
}

#add_course{
font-size: 1.2em;
}

.add_btn_div{
  display: grid;
  grid-template: 100%/repeat(2, 1fr);
  width: 50%;
  margin: 0 auto;
}

.course_show{
  display: grid;
  grid-template: 100%/50% 50%;
  width: 70%;
  height: 60%;
  margin: 5% auto;
  text-align: center;
  box-shadow: 8px 8px 8px 5px var(--dark);
  font-size: 1.4em;
  border: 2px solid var(--dark);
}

#course_pic{
  width:100%;
  height:100%;
}

.coh_list{
  height: 30%;
  list-style: none;
}

.cohort_div{
  padding: 3%;
  text-shadow: 1px 1px black;
  font-weight: 600;
}


.forms{
  width: 50%;
  height: auto;
  border: 2px solid var(--dashboard);
  border-radius: 10%;
  padding: 5%;
  margin: 10% auto;
  box-shadow: -5px -5px 8px #135890;
  background-color: rgba(98, 151, 231, .8);
}

.bottom_form{
  margin-top: 2%;
}

.name{
  width:30%;
}

.email{
  width:40%;
}

.age{
  width:10%;
}

.password{
  width: 36%;
}

input{
  border-radius: 5%;
  font-size: 15px;
  margin-top: 2%;
  margin-right: 2%;
  padding: .5%;
}

.input{
  height:10%;
  width: 15%;
}

.signup-form{
  width:50%;
  height: auto;
  margin: 10% auto;
  padding: 2%;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(98, 151, 231, .4);
  box-shadow: 5px 5px 5px;
}

.submit-btns{
  margin-top: 5%;
  width: 20%;
  border-radius: 7%;
  background-color: var(--dashboard);
  color: white;
  border: 1px solid white;
  font-size: 1em;
  padding:.5%;
}

.submit-btns:hover{
  background-color: white;
  color: #1669ad;
}

.radio{
  height:1%;
  width:1%;
}

#enter_btn{
  font-size: 3em;
  z-index: -1;
}

.instructor_full_name{
  color: white;
  font-weight:600;
  font-size: 1.3em;
  text-shadow: 2px 2px black;
}

.chart{
width: 80%;
margin: 5% auto;
border: 1px solid var(--dashboard);
background-color: rgba(98, 151, 231, 0.8);
color: white;
text-align: center;
font-size: 1.2em;
line-height: 1em;
text-shadow: 1px 1px #07477a;
}

.course_trash{
  margin-right: -80%;
}

.chart_container{
  overflow: auto;
}
