/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *:
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root{
   --dashboard:rgb(38, 224, 79);
   --dark: rgb(31, 113, 72);
 }

 #dashboard{
   font-family: sans-serif;
   text-align: center;

 }

 #dashboard a{
   text-decoration: none;
   color: rgb(38, 224, 79);
   font-size: 2em;
 }

 button{
   background-color:var(--dashboard);
   border: 1px solid blue;
 }

 button a{
   color: var(--dark);
   text-decoration: none;
   font-size: 1.5em;
 }

.student_teacher{
  font-family: sans-serif;
  height:40vh;
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template: 100%/ repeat(2, 1fr);
  grid-gap: 5%;
}

.student_teacher div li{
  padding: 2%;
}

.student_teacher div{
  border: 1px solid black;
}
