/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *:
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  background-image:url('https://images.unsplash.com/photo-1519452575417-564c1401ecc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c13e16dc570c2c74875bf2303e779e14&auto=format&fit=crop&w=1500&q=80');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .nav li{
  display: inline-block;
  margin-right: 5%
} */

body{
  margin:0;
}

h1, h2{
  color: white;
}
.nav{
  grid-area: nav;
  display: grid;
  background-color: #5372a4;
  margin:0;
  height: 100%;
  /* opacity: .9; */
  list-style: none;
  border: 1px solid black;
}

.nav div:hover{
background-color: #becde5;
}

.nav div{
  width:100%;
  height:100%;
  box-shadow: 1px 1px 1px;
}

.nav div a{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  margin: 60% 10%;
}


.main-container{
  grid-area: main;
  display: grid;
  background-color:rgba(98, 151, 231, 0.7);

}

 :root{
   --dashboard:#1669ad;
   --dark: white;
 }

 .header{
   grid-area: header;
   background: linear-gradient(#1669ad, #9198e5);
   /* background-color: #1669ad; */
 }

 #dashboard{
   font-family: sans-serif;
   text-align: center;
 }

 .container{
   display: grid;
   height: 100vh;
   grid-template: repeat(6,1fr)/repeat(6, 1fr);
   grid-template-areas:
   "nav header header header header header"
   "nav main main main main main"
   "nav main main main main main"
   "nav main main main main main"
   "nav main main main main main"
   "nav main main main main main";
 }

 #dashboard a{
   text-decoration: none;
   color: white;
   font-size: 2em;
 }

 button{
   background-color:var(--dashboard);
   border: 1px solid blue;
   border-radius: 10%;
 }

 button a{
   color: var(--dark);
   text-decoration: none;
   font-size: 2.7em;
 }

.student_teacher{
  font-family: sans-serif;
  height:60vh;
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template: 10% 70% 20%/ repeat(2, 1fr);
  grid-gap: 5%;
}

.student_teacher div li{
  padding: 2%;
}

.student_teacher div{
  border: 1px solid black;
  overflow: auto;
}

.login{
  margin: auto;
  border: 1px solid black;
  height: 50%;
}
